# exclusions
workitt-backend/__pycache__/
**/__pycache__/
libs/
.env
.env.*
workitt-backend/data/
*.pyc
workitt-backend/sessions/*
start_workitt_prod.sh
stop_workitt_prod.sh

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
